@model MemesProject.Models.Meme
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Create";
}


<div class="center shadow-full">
    <div class="memecontainer">
        <div class="rounded item">
            <div>Post your own meme: </div>
            <br />
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class ="row">
                    <div class="col-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <!--<label asp-for="DescriptionAlt" class="control-label"></label>-->
                            Alt Description
                            <input asp-for="DescriptionAlt" class="form-control" />
                            <span asp-validation-for="DescriptionAlt" class="text-danger"></span>
                        </div>
                        <br/>
                        <div class="form-group">
                            <!--<label asp-for="IdCategory" class="control-label"></label>-->
                            Category
                            <select asp-for="IdCategory" class ="form-control" asp-items="ViewBag.IdCategory"></select>
                        </div>
                    </div>
                     <div class="col-4">
                        <div class="row">
                            <div class="form-group">
                                <!--<label asp-for="File" class="control-label"></label>-->
                                Add meme
                                <span asp-validation-for="File" class="text-danger"></span>
                                <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
                                <img ID="impPrev" class="rounded PictureContainer"/>
                            </div>
                        </div>
                        <!--
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input <input type="hidden" class="form-check-input" asp-for="IfBlocked" /> 
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input type="hidden" class="form-check-input" asp-for="IfApproved" /> 
                            </label>
                        </div>
                        -->
                    </div>
                    </div>
                    <br/>
                    <div class="row">
                         <div class="form-group center-Button">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
