@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application was made by:</p>
 <ul>
  <li>Paweł Rogowski</li>
  <li>Mateusz Twardowski</li>
  <li>Jerzy Długosz</li>
</ul> 
