@model MemesProject.Models.ViewModels.CommentViewModel


<form id="CommentsHub">

    <div class="form-group">
        <input type="hidden" asp-for="@Model.IdMeme" id="IdMeme" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="@Model.Text" id="Text" class="form-control" />
    </div>
    <div class="form-group">
        <button type="button" id="sendHub" class="btn btn-primary">Napisz komentarz</button>
    </div>
</form>
<table id="records_table">

</table>
<script>
        
    $("#sendHub").click(function(){
        var data={  
        IdMeme:$("#IdMeme").val(),
        Text:$("#Text").val(),
        };
        console.log(data);
        $.ajax({
            type: 'POST',
            data: data,
            url: '@Url.Action("CreateHub", "Comments")',
            dataType: "json",
            success: function (result) {
                alert('Udało się');
                console.log(result);
            },
            error: function () {
                alert('Błąd');
                console.log('Błąd');
            }
        });
    });

    $(document).ready(function () {
        var IdMeme = $("#IdMeme").val();
        console.log(IdMeme);
        $.ajax({  
        url: "/Comments/GetCommentHub?Id="+IdMeme,  
        type: "GET",  
        contentType: "application/json;charset=utf-8",  
        dataType: "json",  
        success: function (result) {  
            var html = '';  
            $.each(result, function (key, item) {  
                html += '<tr>';  
                html += '<td>' + item.idCommentHub + '</td>';   
                html += '</tr>';  
            });  
            $('#records_table').html(html);  
        },  
        error: function (errormessage) {  
            alert(errormessage.responseText);  
        }  
        });
    });
    </script>

