@model IEnumerable<MemesProject.Models.CommentsHub>
@foreach (var item in Model)
{
    @foreach (var comment in item.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => comment.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.Date)
            </td>

        </tr>
        <br />
        <a>-----</a>
        <br />
    }
    await Html.RenderPartialAsync("_CommentPartial", new Comment { IdCommentsHub=item.IdCommentHub, IdMeme=item.IdMeme });
}
