@model MemesProject.Models.ViewModels.CommentViewModel

<div class="center-large shadow-full">
    <div class="Padding-20">
        <form asp-action="Create">
            <div class="row Padding-20">
                <div>
                    Write your own comment:
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.IdMeme" id="IdMeme" class="form-control" />
                </div>
                <div class="form-group col-10">
                    <input asp-for="@Model.Text" id="Text" class="form-control" />
                </div>
                <div class="form-group col-2">
                    <button type="button" id="sendHub" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
        </div>
    </div>
<div id="CommentHubs"></div>


<script>
        
    $("#sendHub").click(function(){
        var data={  
        IdMeme:$("#IdMeme").val(),
        Text:$("#Text").val(),
        };
        console.log(data);
        $.ajax({
            type: 'POST',
            data: data,
            url: '@Url.Action("CreateHub", "Comments")',
            //dataType: "json",
            success: function (result){
                if(data!=null)
                {
                    alert("Your comment has been successfully added!");
                    $('#Text').val('');
                    $("#CommentHubs").load("/Comments/GetCommentHub?Id="+IdMeme);
                }
                else{
                    alert("Please, enter the correct value");
                }
            },
            error: function (error) {  
                alert("Error "+error+" try again later");
            }
        });
    });
    </script>
    <script>
    $(document).ready(function () {
        var IdMeme = $("#IdMeme").val();
        $("#CommentHubs").load("/Comments/GetCommentHub?Id="+IdMeme);
    });
</script>

