@model MemesProject.Models.Comment

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateComment" class="comment">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <input type="hidden" id="IdCommentHub" asp-for="IdCommentsHub" />
            <input type="hidden" id="IdMeme" asp-for="IdMeme" />
            <div class="form-group">
                @*<label asp-for="Text" class="control-label"></label>*@
                <input asp-for="Text" class="form-control TextComm" onkeyup="BlockButton(this)" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Response" class="btn btn-primary addCommentBtn"  disabled="disabled"/>
            </div>
        </form>
    </div>
</div>


