@model MemesProject.Models.ViewModels.CommentViewModel


<form asp-action="Create">

    <div class="form-group">
        <input type="hidden" asp-for="@Model.IdMeme" id="IdMeme" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="@Model.Text" id="Text" class="form-control" />
    </div>
    <div class="form-group">
        <button type="button" id="sendHub" class="btn btn-primary">Write comment</button>
    </div>
</form>
<div id="CommentHubs"></div>


<script>
        
    $("#sendHub").click(function(){
        var data={  
        IdMeme:$("#IdMeme").val(),
        Text:$("#Text").val(),
        };
        console.log(data);
        $.ajax({
            type: 'POST',
            data: data,
            url: '@Url.Action("CreateHub", "Comments")',
            //dataType: "json",
            success: function (result){
                if(data!=null)
                {
                    alert("Your comment has been successfully added!");
                    $('#Text').val('');
                    $("#CommentHubs").load("/Comments/GetCommentHub?Id="+IdMeme);
                }
                else{
                    alert("Please, enter the correct value");
                }
            },
            error: function (error) {  
                alert("Error "+error+" try again later");
            }
        });
    });
    </script>
    <script>
    $(document).ready(function () {
        var IdMeme = $("#IdMeme").val();
        $("#CommentHubs").load("/Comments/GetCommentHub?Id="+IdMeme);
    });
</script>

