@model MemesProject.Models.ViewModels.CommentViewModel


<form asp-action="Create">

    <div class="form-group">
        <input type="hidden" asp-for="@Model.IdMeme" id="IdMeme" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="@Model.Text" id="Text" class="form-control" />
    </div>
    <div class="form-group">
        <button type="button" id="sendHub" class="btn btn-primary">Napisz komentarz</button>
    </div>
</form>
<div id="CommentHubs"></div>
@{  //Html.Action("GetCommentHub","Comments")
    //await Html.RenderPartialAsync("_CommentsHubListPartial", new IEnumerable<CommentsHub> { IdCommentHub=Model.IdCommentHub });
     }

<table id="records_table">

</table>

<script>
        
    $("#sendHub").click(function(){
        var data={  
        IdMeme:$("#IdMeme").val(),
        Text:$("#Text").val(),
        };
        console.log(data);
        $.ajax({
            type: 'POST',
            data: data,
            url: '@Url.Action("CreateHub", "Comments")',
            dataType: "json",
        });
    });
    </script>
    <script>
    $(document).ready(function () {
        var IdMeme = $("#IdMeme").val();
        $("#CommentHubs").load("/Comments/GetCommentHub?Id="+IdMeme);
    });
</script>

