<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MemesProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MemesProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="css/index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand ChangeColorDiv" asp-area="" asp-controller="Home" asp-action="Index">MemesProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                     
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
                        </li>
                 
                       
                        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Memes" asp-action="Index">Memes</a>
                        </li>
                        <li class="nav-item">
                             @await Component.InvokeAsync("CategoryList")
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="CenterNav">Kontrast:</div>
                        </li>
                        <li class="Spacing"></li>
                        <li class="nav-item">
                            <button id="WCAGColorButton" class="WcagLayoutButtons" disabled>
                                <div class="CenterNav">
                                    <img id="imageid" src="/images/Styl1.png" title="Zmien paletę kolorów" alt="A" class="ButtonContainter">
                                </div>
                            </button>
                        </li>
                        <li class="Spacing"></li>
                        <li class="nav-item">
                            <button id="WCAGColorButton2" class="WcagLayoutButtons">
                                <div class="CenterNav">
                                    <img id="imageid" src="/images/Styl2.png" title="Zmien paletę kolorów" alt="A" class="ButtonContainter">
                                </div>
                            </button>
                        </li>
                        <li class="Spacing"></li>
                        <li class="nav-item">
                             <div class="CenterNav">Czcionka:</div>
                        </li>
                        <li class="Spacing"></li>
                        <li class="nav-item">
                            <button id="WCAGFontSizeMinButton" class="WcagLayoutButtons">
                                <div class="CenterNav">A</div>
                            </button>
                        </li>
                        <li class="Spacing"></li>
                        <li class="nav-item">
                            <button id="WCAGFontSizeMedButton" class="WcagLayoutButtons">
                                <div class="CenterNav">A+</div>
                            </button>
                        </li>
                        <li class="Spacing"></li>
                        <li class="nav-item">
                            <button id="WCAGFontSizeMaxButton" class="WcagLayoutButtons">
                                <div class="CenterNav">A++</div>
                            </button>
                        </li>
                         <li class="Spacing"></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MemesProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

    $('#WCAGColorButton').click(function(){
    $('h1, a, div, button, ul, li, body, input, nav, select, option').toggleClass('setblackyelow');
    $('#WCAGColorButton').prop('disabled', true );
    $('#WCAGColorButton2').prop('disabled', false );

        $('.favouriteImage').attr('src','/images/like.png').toggleClass("setblackyelow")
        $('.UnfavouriteImage').attr('src','/images/likeFull.png').toggleClass("setblackyelow")

        $('.likeImage').attr('src','/images/heartEmpty.png').toggleClass("setblackyelow")
        $('.UnLikeImage').attr('src','/images/heart.png').toggleClass("setblackyelow")

        $('.BaseEdit').attr('src','/images/icons8-edit-96.png').toggleClass("setblackyelow")
        $('.BaseDetails').attr('src','/images/icons8-comments-96.png').toggleClass("setblackyelow")
        $('.BaseDelete').attr('src','/images/icons8-trash-96.png').toggleClass("setblackyelow")
    });

    $('#WCAGColorButton2').click(function(){
    $('h1, a, div, button, ul, li, body, input, nav, select, option').toggleClass('setblackyelow');
    $('#WCAGColorButton').prop('disabled', false );
    $('#WCAGColorButton2').prop('disabled', true );

        $('.favouriteImage').attr('src','/images/likeyellow.png').toggleClass("setblackyelow")
        $('.UnfavouriteImage').attr('src','/images/likeyellowfull.png').toggleClass("setblackyelow")

        $('.likeImage').attr('src','/images/heartEmptyyellow.png').toggleClass("setblackyelow")
        $('.UnLikeImage').attr('src','/images/heartyellow.png').toggleClass("setblackyelow")

        $('.BaseEdit').attr('src','/images/edityellow.png').toggleClass("setblackyelow")
        $('.BaseDetails').attr('src','/images/commentyellow.png').toggleClass("setblackyelow")
        $('.BaseDelete').attr('src','/images/trashyellow.png').toggleClass("setblackyelow")   
    });

    $('#WCAGFontSizeMinButton').click(function(){
    $('h1, a, div, button, ul, li, body, input, nav, select, option').addClass('SetFontSizeMin');
    if ($('h1, a, div, button, ul, li, body, input, nav, select, option').hasClass('SetFontSizeMed'))
    {
       $('h1, a, div, button, ul, li, body, input, nav, select, option').toggleClass('SetFontSizeMed')
    }
    if ($('h1, a, div, button, ul, li, body, input, nav, select, option').hasClass('SetFontSizeMax'))
    {
       $('h1, a, div, button, ul, li, body, input, nav, select, option').toggleClass('SetFontSizeMax')
    }
    });

    $('#WCAGFontSizeMedButton').click(function(){
    $('h1, a, div, button, ul, li, body, input, nav, select, option').addClass('SetFontSizeMed');
    if ($('h1, a, div, button, ul, li, body, input, nav, select, option').hasClass('SetFontSizeMin'))
    {
       $('h1, a, div, button, ul, li, body, input, nav, select, option').toggleClass('SetFontSizeMin')
    }
    if ($('h1, a, div, button, ul, li, body, input, nav, select, option').hasClass('SetFontSizeMax'))
    {
       $('h1, a, div, button, ul, li, body, input, nav, select, option').toggleClass('SetFontSizeMax')
    }
    });

    $('#WCAGFontSizeMaxButton').click(function(){
    $('h1, a, div, button, ul, li, body, input, nav, select, option').addClass('SetFontSizeMax');
    if ($('h1, a, div, button, ul, li, body, input, nav, select, option').hasClass('SetFontSizeMed'))
    {
       $('h1, a, div, button, ul, li, body, input, nav, select, option').toggleClass('SetFontSizeMed')
    }
    if ($('h1, a, div, button, ul, li, body, input, nav, select, option').hasClass('SetFontSizeMin'))
    {
       $('h1, a, div, button, ul, li, body, input, nav, select, option').toggleClass('SetFontSizeMin')
    }
    });


    </script>

       <script>


      $(document).ready(function(){
  $(".likeImage, .UnLikeImage").click(function(){

   var $img = $(this);
   var memeId = $img.attr("id");

         $.ajax({  
                url: "/Memes/FavouriteMeme?memeId="+memeId,  
                contentType: "application/json; charset=utf-8",  
                dataType: "text",  
                success: function(response) {  
                    if (response != null) {  


                if($img.hasClass('likeImage'))
                {
                    if( $img.hasClass('setblackyelow'))
                    {
                        $img.attr('src', '/images/heartyellow.png').removeClass("likeImage").addClass("UnLikeImage").removeAttr('title').attr('title','Remove an image from Favourites');
                    }
                    else
                    {
                        $img.attr('src', '/images/heart.png').removeClass("likeImage").addClass("UnLikeImage").removeAttr('title').attr('title','Remove an image from Favourites');
                    }
                }
                else
                {

                    if( $img.hasClass('setblackyelow'))
                    {
                        $img.attr('src', '/images/heartEmptyyellow.png').removeClass("UnLikeImage").addClass("likeImage").removeAttr('title').attr('title','Add an image to Favourites');
                    }
                    else
                    {
                        $img.attr('src', '/images/heartEmpty.png').removeClass("UnLikeImage").addClass("likeImage").removeAttr('title').attr('title','Add an image to Favourites');
                    }
                }
                } else {  
                   
                }  
                },  
                failure: function(response) {  
                    
                },  
                error: function(response) {  
            
                }  
            });
    
  });
});
        
   </script>
   <script>
        $(document).ready(function(){
  $(".favouriteImage, .UnfavouriteImage").click(function(){

   var $img = $(this);
   var memeId = $img.attr("id");
         $.ajax({  
                url: "/Memes/LikeMeme?memeId="+memeId,  
                type:"GET", 
                contentType: "application/json; charset=utf-8",  
                dataType: "text",  
                success: function(response) {  
                    if (response != null) {  

                if($img.hasClass('favouriteImage')){
                         if( $img.hasClass('setblackyelow'))
                         {
                             $img.attr('src', '/images/likeyellowFull.png').removeClass("favouriteImage").addClass("UnfavouriteImage").removeAttr('title').attr('title','UnLike Image');
                         }
                         else
                         {
                             $img.attr('src', '/images/likeFull.png').removeClass("favouriteImage").addClass("UnfavouriteImage").removeAttr('title').attr('title','UnLike Image');
                         }
                         var $numberofLikes = $("[id='numberLike "+memeId+"']");
                         var likes = $numberofLikes.text();
                         let num = parseInt(likes);
                         num+=1;
                        $numberofLikes.text(num);
                }else{
                         if( $img.hasClass('setblackyelow'))
                         {
                             $img.attr('src', '/images/likeyellow.png').removeClass("UnfavouriteImage").addClass("favouriteImage").removeAttr('title').attr('title','Like Image');
                         }
                         else
                         {
                             $img.attr('src', '/images/like.png').removeClass("UnfavouriteImage").addClass("favouriteImage").removeAttr('title').attr('title','Like Image');
                       
                         }
                          var $numberofLikes = $("[id='numberLike "+memeId+"']");
                         var likes = $numberofLikes.text();
                         let num = parseInt(likes);
                         num-=1;
                        $numberofLikes.text(num);
                }
                    } else {  
                   
                    }  
                },  
                failure: function(response) {  
                    
                },  
                error: function(response) {  
            
                } 
            });
    
      });
    });

   $(function() {
    $('#categoriesList').change(function() {
        if( $(this).val()==null)  return;

   
       var  url = 'Memes/category/'+ $(this).val();

                if(window.location.href.includes('Memes/category/')){
          var url=$(this).val();
       }
        if (url != null && url != '' ) {
                    $(location).removeAttr("href");
           $(location).attr('href',url);
        }
    });

});
   </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
