html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.center {
    margin: auto;
    width: 50%;
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .center .memecontainer {
        padding: 50px;
    }

        .center .memecontainer .item {
            width: 100%;
            height: auto;
        }

            .center .memecontainer .item .memetitle {
                text-align: left;
                font-weight: bold;
                font-size: 20px;
            }

            .center .memecontainer .item .imgmiddle {
                width: 100%;

            }

            .center .memecontainer .item .buttons {
                margin: 10px 0px 10px 0px;
                display: flex;
                justify-content: space-between
            }

                .center .memecontainer .item .buttons .transbutton {
                    background-color: transparent;
                    background-repeat: no-repeat;
                    border: none;
                    cursor: pointer;
                    overflow: hidden;
                    outline: none;
                }

                    .center .memecontainer .item .buttons .transbutton img:hover {
                    }

.Buttons-Row {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between
}

.Items-Center-Row {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content:center;
}

.Label-Item-Center {
    margin: 10px 0px 10px 0px;
    display: flex;

    width: 50%;

}

.center-small {
    margin: auto;
    width: 35%;
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-large {
    margin: auto;
    width: 65%;
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-Button{
    margin: auto;
    width: 17%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.shadow-full {
    box-shadow: rgb(161 161 161) 0 0 10px 10px;
}

.shadow-low {
    box-shadow: rgb(190 190 190) 0 0 1px 1px;
}

.displayhidden {
    display: none;
}

.displayvisible {
    display: block;
}

.setblackyelow {
    color: yellow !important;
    background-color: black !important;
}

.SetFontSizeMin {

}

.SetFontSizeMed {
    font-size: 20px !important;
}

.SetFontSizeMax {
    font-size: 23px !important;
}


.lds-ripple-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #329acf;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 300px;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ripple div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .lds-ripple div:nth-child(2) {
            animation-delay: -0.5s;
        }

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-Info-Page {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: 15px;
    margin-right: 0px;
   
}

.avatar-Observers {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-left: 15px;
    margin-right: 0px;
}

.WcagLayoutButtons {
    background-color: white;
    padding: 0;
    border: none;
}

    .WcagLayoutButtons .ButtonContainter {
        width: 32px;
        height: 26px;
        border: 2px solid black;
    }

.Spacing {
    padding:0 5px 0 5px;
}

.CenterNav {
    padding: 7.5px 0 7.5px 0
}

.Buttons-Medium {
    width: 32px;
    height: 32px;
}

.PictureContainer {
    max-height: 300px;
    max-width: 300px;
    padding: 10px;
}

.Padding-10{
    padding: 10px;
}

.Padding-20 {
    padding: 20px;
}

.Margin-10 {
    margin: 10px;
}

.Margin-LR50 {
    margin-left: 50px;
    margin-right: 50px;
}

.Padding-TB10 {
    padding-top:10px ;
    padding-bottom: 10px;
}

.Padding-TB5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.Padding-LR30 {
    padding-left: 30px;
    padding-right: 30px;
}

.text-center {
    text-align:center;
}

.bordersolidgray{
    border-style:solid;
    border-color:darkgray;
    border-width:1px;
}

.commentlike {
    width:18px;
    height:18px;
}
